.cardsWrapper .container {
  display: inline-flex;
  flex-flow: row || nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}
.cardsWrapper .items {
  order: 1;
  flex: none;
  align-self: auto;
}

/*
.cardsWrapper .cardImage img {
    padding: 15px 0;
}
*/

/*
.footerfix(height:4rem;}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #AA0000;
}
*/
