.cardsWrapper {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}
.cardsWrapper .cardImage img {
    padding: 15px 0;
}
.cards {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}
.card {
    align-items: stretch;
    flex: 1 1 0;
    padding: 0 15px 0 15px;
}
.card .col-md-12 {
    align-items: stretch;
    flex: 1 1 100%;
    padding: 0 15px 0 15px;
}
.card .col-md-6 {
    align-items: stretch;
    flex: 1 1 50%;
    padding: 0 15px 0 15px;
}
.card .col-md-4 {
    align-items: stretch;
    flex: 1 1 33%;
    padding: 0 15px 0 15px;
}
.cardButton a {
    display: block;
}
.cardButton .btn-boxlink {
    width: 100%;
}
.btn-boxlink a {
    align-items: center;
    border: 1px solid #088099;
    bottom: 3rem;
    color: #aa0000;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.6rem;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.btn-boxlink a:hover {
    background: #088099;
    border: 1px solid #088099;
    color: #ffffff;
    text-decoration: underline;
}
@media screen and (max-width: 767.999px) { /* xs */
    .cards {
        display: block;
    }
    .card .standardContent {
        padding: 0 15px;
    }
    .cardButton .btn-boxlink {
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.999px) { /* sm */
    #zoneA.col-sm-12 .cards {
        flex-wrap: wrap;
    }
    #zoneA.col-sm-12 .card {
        flex-basis: calc(50% - 7px);
    }
    .cardButton .btn-boxlink {
        padding: 0;
    }
}
